@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Julius+Sans+One&display=swap");

* {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.conteudo {
  margin: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteudo-texto {
  width: 615px;
  height: 145px;
}

body {
  background-color: #000000;
  height: 100vh;
  box-sizing: border-box;
}

.titulo {
  color: #e1e3e1;
  font-size: 30px;
}
.funcao {
  color: #00bfff;
}

.conteudo-apresentacao {
  color: #cdedf8;
  font-size: 20px;
}

a {
  background-color: #87cefa;
  color: #000000;
  padding: 1.5px;
  border: 2px Solid black;
  margin: 20px;
  font-size: 26px;
}
