@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Electrolize&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Julius+Sans+One&display=swap"); /*Configuração Geral*/

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #e1e3e1;
  --cor-terciaria: #c1ff72;
  --cor-quaternaria: #9cff19;

  --fonte-primaria: "Exo 2", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
  width: auto;
  align-items: center;
  display: flex;
  gap: 4rem;
}

.cabecalho-menu-item {
  font-family: var(--fonte-primaria);
  font-weight: 300;
  font-style: normal;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--cor-terciaria);
}
.cabecalho-menu-item:hover {
  color: var(--cor-quaternaria);
}

/*Estilização do conteúdo: body, main, section, h1, strong, p*/

body {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-primaria);
  height: 100vh;
  box-sizing: border-box;
  font-family: var(--fonte-primaria);
  font-weight: 100;
  font-style: normal;
}

/*Main*/
.conteudo {
  height: 100%;
  gap: 1rem;
  padding: 5% 15%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/*Section*/
.conteudo-texto {
  display: flex;
  width: 50%;
  min-height: 145px;
  flex-direction: column;
  text-align: justify;
  gap: 40px;
}

/*h1*/
.titulo {
  text-align: start;
  color: var(--cor-secundaria);
  font-family: var(--fonte-primaria);
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
}

/*strong*/
.funcao {
  color: var(--cor-quaternaria);
}

/*p*/
.conteudo-apresentacao {
  color: var(--cor-terciaria);
  font-size: 1.4rem;
  font-weight: 300;
}

/*div - dos botões "ancoras"*/
.btns {
  display: flex;
  flex-direction: row;
  color: var(--cor-terciaria);
  align-items: center;
  gap: 2px;
}

/*ancora*/
.btn-icon {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--cor-primaria);
  width: 22%;
  font-size: 1rem;
  border-radius: 12px;
  padding: 2% 4%;
  text-decoration: none;
  font-weight: 600;
  color: var(--cor-terciaria);
  border: 2px solid var(--cor-quaternaria);
  margin: 1rem;
}

.btn-icon:hover {
  background-color: #111111;
}

/*h2*/
.apresentacao-links {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  display: flex ;
  flex-direction: row;
  color: var(--cor-secundaria);
}

.icon-tech {
  width: 2rem;
  height: flex;
}
.social-icon {
  width: 25%;
  height: flex;
}
/*img*/

.tecnologias {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.photo {
  width: 20rem;
  border: 4px solid var(--cor-terciaria);
  height: auto;
  border-radius: 15%;
}

.photo:hover {
  opacity: 75%;
}

.rodape {
  font-family: var(--fonte-primaria);
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 1rem;
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
}

@media (max-width: 800px) {
  body {
    height: auto;
  }

  .cabecalho {
    padding: 5%;
  }

  .cabecalho-menu {
    justify-content: center;
  }

  .conteudo {
    flex-direction: column-reverse;
    padding: 5% 10%;
  }
  .conteudo-texto {
    width: auto;
  }

  .btns {
    flex-direction: column;
  }

  .btn-icon {
    width: 45%;
  }
}
