* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}
.titulo {
  color: #e1e3e1;
}
.funcao {
  color: #00bfff;
}

.conteudo-apresentacao {
  color: #cdedf8;
}

a {
  background-color: #87cefa;
  color: #000000;
  padding: 1.5px;
  border: 2px Solid black;
  margin: 10px;
}
.contatos {
  color: #000000;
  background-color: rgb(255, 50, 50);
  padding: 2px;
  border: 3px solid black;
  margin: 10px;
}
